<div class="row  tab" *ngIf="temp==1">
    <div class="col-md-2 sidebar sidenav" style="margin-top: 84px;position: fixed;">

        <a  routerLink="/Newtickets" data-toggle="collapse" class="togglebtn button" data-target="#userapplications" 
            class="tablinks" (click)="highlight($event)" (click)="newtickets()">

            <img src="assets/Images/64 Blue/Attendance Report.png" style="width:13% ;margin-right: 17px;"
                [ngClass]="active == 'newtickets' ? 'Active1' : 'Active2'" />
            <img [ngClass]="active != 'newtickets' ? 'Active1' : 'Active2'" src="assets/Images/64/Attendance Report.png"
                style="width:13%; margin-right: 17px;">
            &nbsp;
            <span [ngClass]="active == 'newtickets' ? 'Active1' : 'Active3'"> NEW TICKETS </span>


        </a>

        <div id="userapplications" class="collapse" style="padding-left: 7%;">
         
            <a routerLink="/Acceptedtickets" class="tablinks" (click)="highlight($event)" (click)="accepted()">
                <img src="assets/Images/64 Blue/leaves.png" style="width:13% ;margin-right: 17px;"
                    [ngClass]="active == 'accepted' ? 'Active1' : 'Active2'" />
                <img [ngClass]="active != 'accepted' ? 'Active1' : 'Active2'"
                    src="assets/Images/64/leaves.png" style="width:13%; margin-right: 17px;">
                &nbsp;
                <span [ngClass]="active == 'accepted' ? 'Active1' : 'Active3'"> ACCEPTED </span>
            </a>
            <a routerLink="/RejetcedTickets" class="tablinks" (click)="highlight($event)" (click)="rejected()">
                <img src="assets/Images/64 Blue/leaves.png" style="width:13% ;margin-right: 17px;"
                    [ngClass]="active == 'rejected' ? 'Active1' : 'Active2'" />
                <img [ngClass]="active != 'rejected' ? 'Active1' : 'Active2'"
                    src="assets/Images/64/leaves.png" style="width:13%; margin-right: 17px;">
                &nbsp;
                <span [ngClass]="active == 'rejected' ? 'Active1' : 'Active3'"> REJECTED </span>
            </a>

            <a routerLink="/ClosedTickets" class="tablinks" (click)="highlight($event)" (click)="closed()">
                <img src="assets/Images/64 Blue/ATTENDANCE/Exit Formality.png" style="width:13% ;margin-right: 17px;"
                    [ngClass]="active == 'closed' ? 'Active1' : 'Active2'" />
                <img [ngClass]="active != 'closed' ? 'Active1' : 'Active2'"
                    src="assets/Images/64/ATTENDANCE/Exit Formality.png" style="width:13%; margin-right: 17px;">
                &nbsp;
                <span [ngClass]="active == 'closed' ? 'Active1' : 'Active3'"> CLOSED </span>
            </a>

           
        </div>

        <a routerLink="/LogActivityDash" class="tablinks" (click)="highlight($event)" (click)="logactivity()">
            <img src="assets/Images/64 Blue/leaves.png" style="width:13% ;margin-right: 17px;"
                [ngClass]="active == 'logactivity' ? 'Active1' : 'Active2'" />
            <img [ngClass]="active != 'logactivity' ? 'Active1' : 'Active2'"
                src="assets/Images/64/leaves.png" style="width:13%; margin-right: 17px;">
            &nbsp;
            <span [ngClass]="active == 'logactivity' ? 'Active1' : 'Active3'"> Log Activity </span>
        </a>

        <a routerLink="/ExceptionLogDash" class="tablinks" (click)="highlight($event)" (click)="exceptionlog()">
            <img src="assets/Images/64 Blue/leaves.png" style="width:13% ;margin-right: 17px;"
                [ngClass]="active == 'exceptionlog' ? 'Active1' : 'Active2'" />
            <img [ngClass]="active != 'exceptionlog' ? 'Active1' : 'Active2'"
                src="assets/Images/64/leaves.png" style="width:13%; margin-right: 17px;">
            &nbsp;
            <span [ngClass]="active == 'exceptionlog' ? 'Active1' : 'Active3'"> Exception Log </span>
        </a>

        <a routerLink="/StaffDashboard" class="tablinks" (click)="highlight($event)" (click)="StaffDashboard()">
            <img src="assets/Images/64 Blue/leaves.png" style="width:13% ;margin-right: 17px;"
                [ngClass]="active == 'StaffDashboard' ? 'Active1' : 'Active2'" />
            <img [ngClass]="active != 'StaffDashboard' ? 'Active1' : 'Active2'"
                src="assets/Images/64/leaves.png" style="width:13%; margin-right: 17px;">
            &nbsp;
            <span [ngClass]="active == 'StaffDashboard' ? 'Active1' : 'Active3'">STAFF </span>
        </a>

        <a routerLink="/AttendanceDashboard" class="tablinks" (click)="highlight($event)" (click)="AttendanceDashboard()">
            <img src="assets/Images/64 Blue/leaves.png" style="width:13% ;margin-right: 17px;"
                [ngClass]="active == 'AttendanceDashboard' ? 'Active1' : 'Active2'" />
            <img [ngClass]="active != 'AttendanceDashboard' ? 'Active1' : 'Active2'"
                src="assets/Images/64/leaves.png" style="width:13%; margin-right: 17px;">
            &nbsp;
            <span [ngClass]="active == 'AttendanceDashboard' ? 'Active1' : 'Active3'">Attendance Details</span>
        </a>
    </div>