<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11">
            <br>
            <p class="headings">Exception Log</p>
        </div>
       
    </div>
    <br>
    <div class="card">
        <div class="row FilterClass ">
            <div class="col-lg-1">
                <p class="filter">Filter By</p>
            </div>

            <div class="col-lg-3">
                <select class="form-control" id="companyid" name="companyid" [(ngModel)]="companyid"
                    (change)="getCompanyDetails($event)">
                    <!-- <option selected>Select Company</option> -->
                    <option value="1001">Asticom Main</option>
                    <option value="1002">Asticom ABSI (ABSI)</option>
                    <option value="1005">Asticom FINSI</option>
                    <option value="1003">Asticom BRAD</option>
                    <option value="1004">Asticom HCX</option>
                    <option value="1006">Asticom HQ</option>
                </select>
            </div>
  
            <div class="col-lg-5">
                <input type="search" class="form-control search" placeholder="Search for Name.." [(ngModel)]="search">
            </div>
            <div class="col-lg-3">
                <p class="count">Count:{{exceptionloglist.length}} </p>
            </div>
        </div>
        <br>

        <div class="row FilterClass">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">

                <input class="form-control" id="date" name="date" [(ngModel)]="startdate" type="date"
                    placeholder="Duration">
            </div>
            <div class="col-lg-3">

                <input class="form-control" id="date" name="date" [(ngModel)]="enddate" (change)="getenddate($event)"
                    type="date" placeholder="Duration">
            </div>
            <div class="col-lg-2">
                <button class=" btn btn-primary editable-table-button btn-xs btncolor" (click)="exportexcel()">Export to
                    Excel</button>
            </div>
        </div>
    </div> <br>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table" id="downloadapplication">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User ID</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Page Name</th>
                            <th>Error Message</th>
                            <th>Login Type</th>
                            <th>API</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let details of exceptionloglist |paginate: { itemsPerPage: count1, currentPage: p}|filter:search">
                            <td>{{details.id}}</td>
                            <td>{{details.userID}}</td>
                            <td>{{details.modifiedDate|date}}</td>
                            <td>{{details.modifiedDate|date:'HH:mm'}}</td>
                            <td>{{details.pageName}}</td>
                            <td>{{details.errorMessage}}</td>
                            <td>{{details.loginType}}</td>
                            <td>{{details.apI}}</td>
                        </tr>
                    </tbody>
                </table>
                <span *ngIf="exceptionloglist.length==0">No Data </span>
                <div class="text-right">
                    <br>
                    <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

</div>